.book-cover {
  padding: 20px;
  margin: 2px;

  overflow: hidden;
}

.book-cover img {
  height: 15rem;
}

.book-cover h3 {
  font-size: 20px;
  font-weight: 600;
  width: 200px;
  padding-top: 10px;
  padding: 8px;
}

.book-cover h5 {
  color: rgb(32, 32, 32);
  font-size: 16px;
  padding: 8px;
  width: 250px;
}

.book-cover p {
  color: grey;
  font-size: 12px;
  padding: 8px;
  width: 250px;
}

.searchBooks {
  padding: 20px;
  overflow: hidden;
}

.book-section ul {
  text-decoration: none;
}
