/* ================================================ */
/*         JAVA SCRIPT STYLING PAGE           */
/* ================================================ */

.titleBg {
  background: rgb(99, 156, 255) !important;
}

.programming-ide-javascript {
  background: rgba(83, 189, 255, 0.088);
}

.bg-ide {
  background: rgb(10, 30, 62) !important;
}
