* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.page404 {
  background: rgba(0, 0, 0, 0.823);
  margin-bottom: -10px;
}

.pagenotfound {
  color: white;
  padding: 20%;
  text-align: center;
}
